<div class="main-navbar">
    <div class="main-navbar__wrapper _fixed">
        <div class="page__row-layout">

            <div class="main-navbar__layout">
                <div class="main-navbar__logo">
                    <div class="nc-logo">
                    </div>
                </div>

                <div class="main-navbar__menu">
                    {{header}}
                </div>
                <div class="main-navbar__logout">
                    <a (click)="onLogout($event)">Logout</a>
                </div>
            </div>

        </div>
    </div>
</div>
